# Data Science Tools and Ecosystem

## Author
Paul Nameth

## In this notebook, Data Science Tools and Ecosystem are summarized.

##### **Objectives:**

- List popular languages for Data Science
- List common libraries for Data Science
- List of common tools for Data Science
- Examples of arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:  
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:  
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. TensorFlow

|Data Science Tools|
|--------------------|
|MySql|
|Hadoop|
|Apache mongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335